<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Spring Social</title>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
  <section class="flat-header color-bg adm-header">
  	<div class="wave-bg wave-bg2"></div>
  	<div class="container">
  		<div class="dashboard-wrap fl-wrap">
  			<div class="deashboard-sidebar-content fl-wrap" style="background: #184588">
  				<h2>
  					<span>Seja Bem-vindo!</span>
  				</h2>
  				<div>
  					<img th:src="${user.imageUrl}" width="130" height="130" th:if="${user.imageUrl!=null}"/>
  				</div>
  			
  				<div class="dashboard-sidebar-item fl-wrap">
  					
 					<h3 th:text="${user.firstName+' '+user.lastName}"></h3>
 					<h3 th:text="${user.email}"></h3>  				
  				</div>
  				
  				<div>
	      		<a th:href="@{'/'}" class="logout">Sair</a>
	      		</div>  
  			  			
  			</div>
  		
  		</div>  	
  	</div>
  	
  
  
  </section>

</body>
</html>