<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Spring Social</title>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

   <div class="container">
    <div class="row">
      <h2 style="text-align:center">Entre com sua rede social ou registre-se</h2>
      
      <div class="vl">
        <span class="vl-innertext">ou</span>
      </div>
      
      <div class="col">
        <a th:href="@{'/facebooklogin'}" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Entrar com o Facebook
         </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Entrar com o Twitter
        </a>
        <a href="#" class="google btn"><i class="fa fa-google fa-fw">
          </i> Entrar com o Google+
        </a>
      </div>
            
        <div class="col">
        <div class="hide-md-lg"></div>
      	<form th:action="@{'/register'}" th:object="${user}" method="POST">
	      	<input type="text" name="firstName" placeholder="Nome" required="required" th:field="*{firstName}">
	      	<input type="text" name="lastName" placeholder="Sobrenome" required="required" th:field="*{lastName}">
	      	<input type="text" name="email" placeholder="E-mail" required="required" th:field="*{email}">
	        <input type="password" name="password" placeholder="Senha" required="required" th:field="*{password}">
	        <input type="submit" value="Registrar">      
      	</form>
      	</div>      
    </div>
</div>
</body>
</html>